.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: bold;
  color: #000000;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  color: #3498db;
  border-radius: 15px;
}

.login-form input:focus {
  outline: none;
  border: 2px solid #3498db;
  border-radius: 15px;
}
