.custom-button {
  position: relative;
  overflow: hidden;
  background-color: rgba(26, 188, 156, 0.8);
  color: #fff;
  padding: 10px 20px;
  font-size: 1em;
  border: 1px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-button:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  pointer-events: none;
}

.custom-button:hover {
  background-color: rgba(0, 201, 67, 1);
}